In [ ]:
import numpy as np
import pandas as pd
#import hvplot.pandas
import ccxt
import os

In [ ]:
kraken_public_key = os.getenv('KRAKEN_PUBLIC_KEY')
kraken_secret_key = os.getenv('KRAKEN_SECRET_KEY')

In [ ]:
exchange = ccxt.kraken({
    'apiKey': kraken_public_key,
    'secret': kraken_secret_key,
})

In [ ]:
def get_crypto_details ():
    crypto_details = exchange.load_markets()

# Import data as a Pandas DataFrame
    crypto_df = pd.DataFrame(crypto_details)
    return crypto_df
crypto_df

In [ ]:
#print(type(crypto_df.columns.values))
#print(crypto_df.columns.values)
#print(len(crypto_df.columns.values))

In [ ]:
print(ccxt.exchanges) # print a list of all available exchange classes

In [ ]:
#exchange.has

In [ ]:
# Fetch historical bitcoin prices
btc_historical_prices = exchange.fetch_ohlcv("BTC/USD")    
btc_historical_prices

In [ ]:
# Import the data as a pandas DataFrame and set the columns
btc_historical_prices_df = pd.DataFrame(
    btc_historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
#btc_historical_prices_df

In [79]:
btc_historical_prices_df["date"] = pd.to_datetime(
    btc_historical_prices_df["timestamp"], unit="ms"
)
btc_historical_prices_df.tail()

,timestamp,open,high,low,close,volume,date
date,,,,,,,
2020-09-24 03:45:00,1600919100000,10312.6,10312.6,10305.0,10305.0,1.171000,2020-09-24 03:45:00
2020-09-24 03:46:00,1600919160000,10305.0,10305.0,10299.2,10299.2,0.323731,2020-09-24 03:46:00
2020-09-24 03:47:00,1600919220000,10299.2,10302.7,10299.2,10301.6,0.196582,2020-09-24 03:47:00
2020-09-24 03:48:00,1600919280000,10301.6,10301.6,10301.6,10301.6,0.050000,2020-09-24 03:48:00
2020-09-24 03:49:00,1600919340000,10301.5,10301.5,10299.2,10299.3,0.051000,2020-09-24 03:49:00

In [86]:
#btc_historical_prices_df.set_index("date", inplace= True)
btc_historical_prices_df

,timestamp,open,high,low,close,volume
date,,,,,,
2020-09-23 15:50:00,1600876200000,10467.0,10467.0,10467.0,10467.0,0.335865
2020-09-23 15:51:00,1600876260000,10467.0,10467.1,10467.0,10467.1,2.959621
2020-09-23 15:52:00,1600876320000,10467.1,10467.1,10460.0,10460.0,2.292336
2020-09-23 15:53:00,1600876380000,10460.0,10460.1,10455.0,10455.0,17.144269
2020-09-23 15:54:00,1600876440000,10455.0,10458.2,10455.0,10457.8,8.603401
...,...,...,...,...,...,...
2020-09-24 03:45:00,1600919100000,10312.6,10312.6,10305.0,10305.0,1.171000
2020-09-24 03:46:00,1600919160000,10305.0,10305.0,10299.2,10299.2,0.323731
2020-09-24 03:47:00,1600919220000,10299.2,10302.7,10299.2,10301.6,0.196582
2020-09-24 03:48:00,1600919280000,10301.6,10301.6,10301.6,10301.6,0.050000
2020-09-24 03:49:00,1600919340000,10301.5,10301.5,10299.2,10299.3,0.051000

In [87]:
btc_historical_prices_df.head(10)

,timestamp,open,high,low,close,volume
date,,,,,,
2020-09-23 15:50:00,1600876200000,10467.0,10467.0,10467.0,10467.0,0.335865
2020-09-23 15:51:00,1600876260000,10467.0,10467.1,10467.0,10467.1,2.959621
2020-09-23 15:52:00,1600876320000,10467.1,10467.1,10460.0,10460.0,2.292336
2020-09-23 15:53:00,1600876380000,10460.0,10460.1,10455.0,10455.0,17.144269
2020-09-23 15:54:00,1600876440000,10455.0,10458.2,10455.0,10457.8,8.603401
2020-09-23 15:55:00,1600876500000,10457.8,10459.7,10453.3,10459.2,4.550192
2020-09-23 15:56:00,1600876560000,10458.1,10460.6,10458.1,10459.5,0.663479
2020-09-23 15:57:00,1600876620000,10462.2,10462.3,10462.2,10462.3,0.093934
2020-09-23 15:58:00,1600876680000,10462.3,10462.3,10462.3,10462.3,0.049570
2020-09-23 15:59:00,1600876740000,10462.3,10462.3,10462.2,10462.3,3.319527